body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.odd {
  color: red;
}
.even {
  color: green;
}

.clicker-entry-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clicker-entry {
  border: 1px solid black;
  background-color: coral;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}